.container{
    display: flex;
    margin-bottom: 5px;
}

.container:hover{
    background-color: rgb(82, 78, 78);
    cursor:pointer;
}

.title{
    display: flex;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    color: rgb(243, 227, 227);
}